
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ============================================ modal custom style =================================================*/
body > div:nth-child(3) > div > div {
  /* margin: auto auto 20px auto !important; */
  /* margin: auto; */
}
/* @media screen and (min-width: 1400px) {
  body > div:nth-child(3) > div > div {
    border-radius: 0;
    max-width: 75% !important;
    min-width: 75% !important;
  }
} */
body > div:nth-child(3) > div > div {
  border-radius: 0;
  max-width: 61% !important;

}
body > div:nth-child(3) > div > div > div > div{
  max-height: 678px !important;
  overflow: auto;
}
body > div:nth-child(3) > div{
  height: 100%;
}

/* =============================================== image container style =========================================*/
@media screen and (min-width: 1024px) {
  .image-container {
    /* padding: 50px 51px 32px; */
    margin-right: 11px;
    border-color: #737373;
    /* margin-bottom: 18px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%; 
    height: 112px;
  }
 
}
/* 257 */
.image-container p {
  /* width: 56%; */
    text-align: center;
    

  line-height: 1.15;
  letter-spacing: 1.73px;
  font-size: 13px;
  color: #5c6974;
}

/* ==================================================== form title style ========================================= */
.form-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10.5px 0;
  border-bottom: 1px var(--main-color) solid;
}
.after-title::after {
  content: "";
  width: 44px;
  height: 4px;
  border-radius: 3px;
  background-color: rgba(35, 170, 235, 0.14);
  position: absolute;
  top: 24px;
  left: 0;
}

/* ================================================== form inputs style ===========================================*/
.personal-info-input {
  /* margin: 0 0 15px 13px; */
  /* margin: auto !important; */
  width: 100%;
  /* width: 401px; */
  /* background-color: #737373; */
  /* width: 400px; */

}
@media screen and (min-width: 1024px) {
  .personal-info{
    width: 78%;
    height: fit-content;
  
  
  }
 
}


input[type='checkbox']:checked{
   background-color: #2764ac;
}


.label{
  line-height: 1.15;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
}
.text{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
/* select {
  margin-bottom: 10px;
} */

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .personal-info-input {
    width: auto;
  }
}

/*add new button */

#root > section > div.main-bg.w-full.mx-auto.h-screen.overflow-auto > div > div > button > span{
  font-size: 13px ;
  font-family: 'Roboto', sans-serif;

}
#root > section > div.main-bg.w-full.mx-auto.h-screen.overflow-auto > div > div > button{
  height: 30px;
  width: 101px;
  background-color: #2764ac;
  border-radius: 5px;
}

/* form btn */
.btn {
  width: 85px;
  height: 30px;
  font-size: 13px;
}

.office-info-margin{
  margin-bottom: 18px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
input,select{
  border-radius: 5px !important;
}
