.sidebar-active{
  background-color: var(--second-color);
  border-color:  var(--third-color);
}
.side-item:hover{
  background-color: #2765AC;
  border-color:  var(--third-color) ;
}

.sidebar{
  width: 106px ;
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab)
}
.aside-notfication-span{
  font-size: 8px;
  right: 31px;
  top: 18px;
}

.inbound-width{
  width: 47px;
}