/* lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


.card {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
  /* width: 402px; */
}
.card-img {
  /* width: 104px; */
}
.card-width{
  /* width: 402px; */
}
.card-name {
  margin-bottom: 3px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  /* ellipsis */
  /* width: 261px;; */
  width: 200px;;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content p:not(:first-of-type) {
  font-family: "Lato", sans-serif;
}
.present,
.absent,
.weekend,
.on-leave {
  font-size: 11px;
  /* margin-right: 132px; */
  line-height: 1.18;
  width: 57px;
  height: 17px;
  font-family: "Lato", sans-serif;
}
.present {
  background-color: #dcf3d7;
  color: var(--third-color);
}
.absent {
  background-color: #ffe7e7;
  color: #ff6a6a;
}
.weekend {
  background-color: #dce6f2;
  color: #2764ac;
}
.on-leave {
  background-color: #eceef0;
  color: #8997a4;
}
.card-content {
  /* padding-left: 21px; */
}
.info-icon {
  background-color: #eaeef0;
}

.info-icon:hover{
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
}
.poistion-text {
  font-size: 13px;
  line-height: 1.15;
}
.department-text {
  font-size: 10px;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media screen and (min-width: 640px) {
  .card-content {
    padding-left: 21px;
  }
  .card-name {
    /* ellipsis */
    width: 261px;;
  }
  .present,
.absent,
.weekend,
.on-leave {
  margin-right: 132px;

}
.card-img {
  width: 104px;
}
}
.content-icons{
  position: absolute;
  right: 16px;
  bottom: 12px;
}
.icon-size{
  font-size: 10px;
}


