:root {
  --main-color: #23aaeb;
  --second-color: #2765ac;
  --third-color: #27b40c;
  --muted: #8997a4;
}
/* body{
  background-color: #F7F8F9;

} */
.main-bg {
  background-color: #f7f8f9;
}
.main-color {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}
.muted {
  color: var(--muted);
}
.bg-muted {
  background-color: var(--muted);
}
.bg-danger {
  background-color: #ff6a6a;
}

.sign-in-bg {
  background-color: var(--third-color);
}
.sign-in-radius{
  border-radius: 5px;
}
.nav-notfi-span{
  font-size: 8px;
  right: 7px;
    bottom: 13px;
}

body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--muted);
}
@media screen and (min-width: 950px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .main-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1900px) {
  .main-content {
    column-gap: 45px;
  }
}

/* tooltip */
.MuiTooltip-arrow.css-kudwh-MuiTooltip-arrow{
  color: #dadde9 !important;
  outline: '1px solid #dadde9',

}

.pagination-position{
  bottom: -100px;
}